body {
  background-color: #EBE7DF;
  
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'hywenhei85w';
  src: url('zh-cn-webfont.woff2') format('woff2'),
       url('zh-cn-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'hywenhei85w';
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #EBE4D7;
}

a:hover {
  font-weight: bold;
}

.textBox > p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #454D5C;
  font-size: 14pt;
}

.navigationMenu {
  background-image: url('https://genshin.mihoyo.com/_nuxt/img/9a62be8.jpg');
  background-color: #454D5C;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  font-size: 18pt;
}

.navTextBox {
  display: flex;
  text-align: center;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.paimonBox {
  display: block;
  height: 83px;
  width: 83px;
  border-radius: 4px;
}

.titleHeader {
  background-image: url('https://uploadstatic-sea.mihoyo.com/contentweb/20200211/2020021114275255981.jpg');
  display: flex;
  box-shadow: 0px 3px 7px gray;
  text-shadow: 0px 5px 5px gray;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  background-position: center;
  color: #EBE4D7;
  font-size: 32pt;
}

.mainBox {
  box-sizing: border-box;
  border-radius: 4px;
  margin: 50px;
  
  font-size: 18pt;
}

.bodyBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tierBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #F9F6F2;
  margin: 0px 0px 50px;
  border-radius: 4px;
  box-shadow: 7px 7px 0px gray;
}

.tierHeaderBox {
  display: flex;
  padding: 5vmin;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  justify-content: center;
  color: #50596B;
  font-size: 48pt;
}

.charactersBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.characterCardBox {
  box-sizing: border-box;
  background-color: #50596B;
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 350px;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 4px 4px 0px gray;
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.textBox {
  box-sizing: border-box;
  text-align: center;
  padding: 0px;
  background-color: #EBE7DF;
  border-radius: 4px;
}

.characterCardImage {
  border-radius: 4px;
}

.imageBox {
  display: flex;
  align-items: center;
}

.elementAndWeaponBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #AAA8A7;
  margin-top: 10px;
  padding: 5px 0px 5px;
  border-radius: 4px;
}

.elementImage {
  width: 30px;
  height: 30px;
}

.weaponImage {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 8vw;
  }
  
  .navTextBox > p {
    font-size: 3vmin;
  }
}

@media screen and (max-width: 768px) {
  
  h1 {
    font-size: 8vw;
  }
  .navigationMenu {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .navTextBox {
    height: 10vmin;
  }
  
  .navTextBox > p {
    font-size: 4vw;
  }
  
  .paimonBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
    height: 10vmin;
    width: 10vmin;
  }
  
  .tierHeaderBox {
    align-items: flex-start;
  }
  
  .charactersBox {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}