body {
  background-color: #EBE7DF;
  
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'hywenhei85w';
  src: url('zh-cn-webfont.woff2') format('woff2'),
       url('zh-cn-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'hywenhei85w';
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #EBE4D7;
}

a:hover {
  font-weight: bold;
}

p {
  color: #656565;
}

h2 {
  color: #454D5C;
  font-size: 64pt;
  text-align: center;
}

.navigationMenu {
  background-image: url('https://genshin.mihoyo.com/_nuxt/img/9a62be8.jpg');
  background-color: #454D5C;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: center;
  
  font-size: 18pt;
  font-weight: bold;
}

.titleHeader {
  display: flex;
  justify-content: center;
  
  background-image: url('https://uploadstatic-sea.mihoyo.com/contentweb/20200211/2020021114275255981.jpg');
  background-size: cover;
  background-position: center;
  
  padding: 20px 0px 20px;
  box-shadow: 0px 3px 7px gray;
  text-shadow: 0px 5px 5px gray;
  
  color: #EBE4D7;
  font-size: 32pt;
}

.mainBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 4px;
  margin: 50px;
  font-size: 18pt;
}

.bodyBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}

.headerBox {
  background-color: #454D5C;
  margin: 0px 0px 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 5px 5px gray;
}

.paimonBox {
  display: flex;
  align-items: center;
}

.textBox {
  box-sizing: border-box;
  text-align: center;
  padding: 0px;
  background-color: #EBE7DF;
  border-radius: 4px;
}